.metadata/
.settings/
.history/
.mxproject
*.launch
*.log
*.bin
*.elf
*.hex
*.map
*.o
*.d
build/
debug/
release/
cmake-build-debug/
cmake-build-release/
.project
.cproject
.crcore
.indexes/
.apt_generated/
